.header {
  background-color: rgba(0, 95, 85, 1);
}

.logo span {
  color: white !important;
}

.loginWave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -10;
}

.loginContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}

.loginImg {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.loginImg img {
  width: 500px;
}

.login-content form {
  width: 360px;
}

.login-content img {
  height: 100px;
}

.login-content h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.2rem;
}

.login-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
  margin-top: 0;
}

.login-content .i {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content .i i {
  transition: 0.3s;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
}

.input-div:before,
.input-div:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #358247;
  transition: 0.4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}

.input-div.focus > div > h5 {
  top: -5px;
  font-size: 15px;
}

.input-div.focus > .i > i {
  color: #358247;
}

.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: "poppins", sans-serif;
}

.input-div.pass {
  margin-bottom: 4px;
}

.login-content a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: 0.3s;
}

.login-content a:hover {
  color: #358247;
}

.login-content .btn,
.login-content .btnR,
.login-content .btnB {
  display: block;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}

.login-content .btn,
.login-content .btnR {
  background-image: linear-gradient(to right, #107e14, #466f4e);
}

.login-content .btnB {
  background-image: linear-gradient(to right, #e63a1c, #9d2424);
}

.login-content .btn {
  width: 100%;
}

.login-content .btnR,
.login-content .btnB {
  float: left;
  width: 46%;
  margin-left: 2%;
}

.login-content .btn:hover,
.login-content .btnR:hover,
.login-content .btnB:hover {
  background-position: right;
}

.captchaContainer {
  margin-top: 20px;
}

.captchaContainer img {
  max-width: 100px !important;
  max-height: 50px !important;
  border-radius: 0.5em;
  border: 2px rgb(96, 96, 96) groove;
}

.captchaContainer a {
  text-align: center;
}

@media screen and (max-width: 1050px) {
  .loginContainer {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  .login-content form {
    width: 290px;
  }

  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .loginContainer .loginImg img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .loginContainer {
    grid-template-columns: 1fr;
  }

  .loginImg {
    display: none;
  }

  .loginWave {
    display: none;
  }

  .login-content {
    justify-content: center;
  }
}

.preloader {
  background-color: rgba(255, 255, 255, 0.364);
  background-image: url("./../img/preloader.gif");
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99999;
}

.preloader span {
  color: black;
  font-weight: bold;
  position: absolute;
  width: 200px;
  top: 55%;
  left: calc(50% - 100px);
  text-align: center;
}

.nav.nav-tabs.nav-tabs-bordered .nav-item button.nav-link {
  /* padding: 5px; */
  font-size: 12px;
}

.main {
  background-color: white !important;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 8px;
  padding: 15px;
}

.nav-tabs-bordered {
  border-bottom: 2px solid #c8cbd3 !important;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tfoot th,
table.dataTable tfoot td {
  font-size: 8.5px;
}

table.dataTable tbody th,
table.dataTable tbody td {
  font-size: 10px;
  /* text-align: left; */
  vertical-align: middle;
}

.dataTables_length label,
.dataTables_filter label {
  font-size: 11px;
}

.dataTables_filter input,
.dataTables_length select {
  height: 32px !important;
}

.dataTables_info {
  font-size: 10px !important;
}

.dataTables_paginate ul li a {
  padding: 2px 10px !important;
  /* font-size: 15px !important; */
}

.contenedorImgTbl img {
  max-height: 40px;
  border-radius: 50%;
}

.btnTbl {
  display: flex;
  border-radius: 5px;
  font-size: 12px;
  color: black;
  text-align: center;
  cursor: pointer;
  margin-right: 3px !important;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  padding: 5.5px;
  transition: all 0.5s;
}

.btnTbl:hover {
  background-color: black;
  color: white;
}

.tblButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.requerido,
.spnError {
  color: red;
  font-size: 10px;
}

/*== Profile Avatar ==*/
.wrap-custom-file {
  position: relative;
  display: inline-block;
  width: 260px;
  height: 260px;
  text-align: center;
}
.wrap-custom-file input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  overflow: hidden;
  opacity: 0;
}
.wrap-custom-file label {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  display: flex;
  justify-content: center;
}
.wrap-custom-file label span {
  border-radius: 8px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
  -o-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
  bottom: 20px;
  color: #484848;
  font-size: 14px;
  font-family: "Nunito";
  position: absolute;
  padding: 10px 12px;
  /* width: 160px; */
}
.wrap-custom-file label i {
  color: black;
  display: inline-block;
  font-size: 20px;
  margin-right: 5px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.wrap-custom-file label.file-ok {
  background-size: contain !important;
  background-position: center;
}

.wrap-custom-file label.file-ok i {
  color: white;
}

.wrap-custom-file label.file-ok span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.3rem;
  font-size: 1.1rem;
  color: #ffffff;
  background-color: rgba(113, 113, 113, 0.632);
}
.wrap-custom-file label.file-ok .fa {
  display: none;
}

.wrap-custom-file {
  padding: 25px !important;
  width: 170px !important;
  height: 170px !important;
}

.wrap-custom-file label {
  background-repeat: no-repeat;
  background-size: contain !important;
}

.invalid-feedback {
  font-size: 11px !important;
}

label.form-label {
  font-size: 12.5px !important;
  margin-bottom: 2px;
  margin-top: 8px;
}

.bootstrap-select .dropdown-toggle {
  border: 1px solid #ced4da;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  color: black;
  background-color: white;
}

ul.dropdown-menu a.dropdown-item:hover {
  background-color: #24324a;
}

ul.dropdown-menu a.dropdown-item:hover span.text {
  color: white !important;
}

#toast-container > div {
  opacity: 1 !important;
}

@media (max-width: 870px) {
  .topBtnContainer span {
    display: none;
  }
}

.modal {
  z-index: 9999 !important;
}
.modal-body {
  padding-top: 2px;
}

table.dataTable tbody tr.selected td {
  background-color: rgba(0, 95, 86, 0.653) !important;
  color: white !important;
}

legend {
  font-size: 15px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.buttonContainer.spacedAround {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}

.pdfContainer {
  background-color: #dde1e7;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
  height: 500px;
  width: 100%;
}

.imgRecoverySesion {
  max-height: 120px;
  border-radius: 50%;
}

.datetimepicker {
  font-size: 12px !important;
}

div.promocoopImgArticulo {
  min-height: 100%;
  min-width: 100%;
  /*height: 100px;*/
  /*width: 100px;*/
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../PROMOCOOP/images/articulos/no_image.jpg");
}

.searchContainer {
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
  padding: 15px;
  padding-top: 20px;
  height: 100%;
  /* color:#005f55;  */
}

tr.redRow td {
  background-color: #ffc107b5 !important;
}

tr.tr-success td {
  background-color: #28a74671 !important;
}

tr.tr-warning td {
  background-color: #ffc10778 !important;
}

tr.tr-danger td {
  background-color: #dc354673 !important;
}
